<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quảng bá sản phẩm nổi bật</title>
</head>
<body>
    <h1>Thêm sản phẩm nổi bật</h1>
    <form th:action="@{/featured/save}" th:object="${featuredProduct}" method="post">
        <label>Product ID: <input type="text" th:field="*{productId}" /></label>
        <span th:errors="*{productId}"></span><br/>
        
        <label>Featured: <input type="checkbox" th:field="*{isFeatured}" /></label><br/>
        
        <button type="submit">Save</button>
    </form>
</body>
</html>