<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="menu" class="bg-primary text-white">

  <!-- ===== TOP HEADER ===== -->
  <div class="max-w-[1400px] mx-auto flex items-center gap-6 px-6 py-4">

    <!-- LOGO -->
    <a th:href="@{/home}"
       class="text-3xl font-black whitespace-nowrap tracking-wide">
      Book<span class="text-blue-300">Store</span>
    </a>

    <!-- SEARCH -->
    <div class="flex-1">
      <form th:action="@{/search}" method="get">
        <input
          name="keyword"
          class="w-full h-12 rounded-full px-6 text-gray-800 outline-none"
          placeholder="Tìm kiếm sản phẩm...">
      </form>
    </div>

    <!-- ACTION -->
    <div class="flex items-center gap-6 text-sm font-bold relative">

      <span> 1900 6656</span>

      <!-- ========== CHƯA LOGIN ========== -->
      <a th:if="${currentUser == null}"
         th:href="@{/login}"
         class="hover:text-blue-300">
         Đăng nhập
      </a>
      <a th:href="@{/register}"	
      class="hover:text-blue-300">
     Đăng ký
  </a>

      <!-- ========== ĐÃ LOGIN ========== -->
      <div th:if="${currentUser != null}"
           class="relative group cursor-pointer">

        <!-- USER NAME -->
        <div class="flex items-center gap-1">
           <span th:text="${currentUser.fullName}"></span>
          ▾
        </div>

        <!-- DROPDOWN -->
        <div class="absolute right-0 mt-1 w-52
              bg-white text-gray-800 rounded shadow-lg
              invisible group-hover:visible
              opacity-0 group-hover:opacity-100
              transition-all duration-200 z-50">

    <a th:href="@{/my-orders}"
       class="block px-4 py-2 hover:bg-gray-100">
       Đơn hàng của tôi
    </a>

          <a th:href="@{/account}"
             class="block px-4 py-2 hover:bg-gray-100">
             Thông tin cá nhân
          </a>

          <hr>

          <a th:href="@{/login/logout}"
             class="block px-4 py-2 text-red-500 hover:bg-gray-100">
             Đăng xuất
          </a>
        </div>
      </div>

      <!-- CART -->
      <a th:href="@{/cart}"
         class="hover:text-blue-300">
         Giỏ hàng
      </a>

    </div>
  </div>

  <!-- ===== CATEGORY BAR ===== -->
  <nav class="bg-white border-t text-gray-800">
    <div class="max-w-[1400px] mx-auto px-6">
      <ul class="flex gap-10 py-4 font-bold text-base">

        <li th:each="c : ${categories}"
            class="cursor-pointer flex items-center gap-2
                   hover:text-primary
                   hover:-translate-y-0.5
                   transition-all duration-200">
          <a th:href="@{/category/{id}(id=${c.id})}"
             th:text="${c.name}">
          </a>
        </li>

      </ul>
    </div>
  </nav>

</header>

</body>
</html>
