<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/seller-layout :: content">

<div class="card">
	<div class="card-header bg-primary text-white">Thêm sách mới</div>

	<div class="card-body">
		<form th:object="${book}" method="post">

			<div class="mb-3">
				<label>Mã ISBN</label> <input th:field="*{isbn}"
					class="form-control"> <small class="text-danger"
					th:errors="*{isbn}"></small>
			</div>

			<div class="mb-3">
				<label>Tên sách</label> <input th:field="*{title}"
					class="form-control"> <small class="text-danger"
					th:errors="*{title}"></small>
			</div>

			<div class="mb-3">
				<label>Tác giả</label> <input th:field="*{author}"
					class="form-control">
			</div>

			<div class="mb-3">
				<label>Nhà xuất bản</label> <input th:field="*{publisher}"
					class="form-control">
			</div>

			<div class="mb-3">
				<label>Giá bán</label> <input type="number" th:field="*{price}"
					class="form-control"> <small class="text-danger"
					th:errors="*{price}"></small>
			</div>

			<div class="mb-3">
				<label>Số lượng tồn kho</label> <input type="number"
					th:field="*{quantity}" class="form-control">
			</div>

			<button class="btn btn-success">Lưu sách</button>
			<!-- chỗ này quan trọng -->
		</form>
	</div>
</div>
</html>
